[Desktop Entry]
Name=picv
Exec=/home/kchn/.local/bin/picv
StartupNotify=true
Terminal=false
Icon=/home/kchn/.local/share/icons/picv/ico.png
Type=Application